body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    background-color: white ;
}

img {
    border-radius: 25%;
    float: left;
    padding: 20px;
    padding-top: 0px;
}

p {
    padding: 10px;
}

h1 {
    text-align: center;
}

div {
    text-align: left;
}

.dassault li {
    padding:10px;
}

.container {
    background-color: rgb(149, 149, 255);
    position: sticky;
    top: 0px;
    padding: 10px 0px;
}

.container a:hover {
    color: white;
}

.info {
    text-align: center;
    display: flex;
    padding: 30px;
}

.photo {
    width: 50%;
}

p {
    text-align: left;
}

.menu {
    width: 100%;
    /* border-collapse: collapse; */
    table-layout: fixed;
}

td, th {
    text-align: left;
    padding: 5px;
    /* border: 1px solid black; */
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(101, 101, 255);
}


.projects {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    border-collapse: collapse;
    padding-bottom: 10px;
    padding-top: 10px;

}

table.projects td, table.projects th {
    border: 2px solid black;
    border-left: none;
    border-right: none;
    padding-bottom: 10px;
    padding-top: 15px;
}
